<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pocicionamiento</title>
  

  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Monoton&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">
 
  <link href="../assets/elementos/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/elementos/icofont/icofont.min.css" rel="stylesheet">
  <link href="../assets/elementos/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/elementos/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/elementos/venobox/venobox.css" rel="stylesheet">
  <link href="../assets/elementos/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">


  <link href="../assets/css/style.css" rel="stylesheet">

</head>

<body>

  <header id="" style="background-color: #fff" class="fixed-top ">
  	
    <div class="container d-flex align-items-center">
      
      <h1 class="logo mr-auto"><a href="index.html" style="color: #0082c3" >Tyre</a></h1>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a style="color: #444444" href="index.html">Inicio</a></li>
          <li><a style="color: #444444" href="#about">Nosotros</a></li>
          <li><a style="color: #444444" href="#portfolio">Servicios</a></li>
          <li><a style="color: #444444" href="#team">Team</a></li>
          <li><a style="color: #444444" href="#cta" >Blog</a></li>
          <li><a style="color: #444444" href="#contact">Contacto</a></li>
          <li><a style="color: #444444" href="login.html"><i style="font-size: 25px" title="INICIO DE SESION" class='bx bx-user-circle bx-spin-hover' ></i></a></li>
          <li><a style="color: #444444" href="register.html"><i style="font-size: 25px" title="REGISTRARSE" class='bx bxs-user-circle bx-spin-hover'></i></a></li>

        </ul>
      </nav>

    </div>
  </header>

  
  <main id="main">
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Pocicionamiento</h2>
          <h3>Tyre<span> Pocicionamiento</span></h3>
          <p>En busca de ideas para el posicionamiento<br>
				45 min.</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Este servicio es moldeado de acuerdo a cada campaña, vinculando al uso de la tecnología para presentar una experiencia interactiva a los futuros clientes
            </p>
            <a href="#" style="color: #0082c3; font-size: 25px"><u>Mas Información</u></a>
            
            <br><br><br>
            <h3>Ubicación y datos de contacto</h3>
            <p><strong>Email:  </strong>   buitragod004@gmail.com</p>
            <a href="#" class="btn-learn-more">RESERVAR AHORA</a>
            <a href="#" class="btn-learn-more">ELIMINAR DATOS</a>
          </div>


          <div class="col-lg-6 pt-4 pt-lg-0">
           <iframe width="800" height="600" src="https://www.youtube.com/embed/WJUInYShJYo?list=RDHgzGwKwLmgM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>

      </div>
    </section>

  
  </main>

  
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Tyre</h3>
            <p>
              Cll 1 1 #123 <br>
              Bogota D.C<br>
              COLOMBIA <br><br>
              <strong>Phone:</strong> 123 1234 12 12<br>
              <strong>Email:</strong> Ejemplo@Ejemplo.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Nosotros</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Servicios</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" style="color: #ffd21f"	><strong>BLOG</strong></a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nuestros Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Tyre Básico</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Tyre Especializado Fisico</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Tyre Especializado Virtual</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Tyre Outsourcing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Tyre Pocicionamiento</a></li>
            </ul>
          </div>


        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
         <strong><span>Tyre</span></strong> 2020 &copy; Copyright . All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a style="color: #19ce16" href=""><strong>KEVIN TOVAR</strong></a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter bx-burst-hover"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook bx-burst-hover"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram bx-burst-hover"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype bx-burst-hover"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin bx-burst-hover"></i></a>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i title="Volver A El Inicio" class="ri-arrow-up-line"></i></a>
  <a href="#" style="right: 100px; " class="back-to-top back-to-tops"><i title="Chatea Con Nosotros" style="background-color: #44d649; width:200px" class='bx bxs-chat bx-tada-hover'></i></a>

  
  <script src="assets/elementos/jquery/jquery.min.js"></script>
  <script src="assets/elementos/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/elementos/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/elementos/php-email-form/validate.js"></script>
  <script src="assets/elementos/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/elementos/venobox/venobox.min.js"></script>
  <script src="assets/elementos/owl.carousel/owl.carousel.min.js"></script>

  <script src="assets/js/main.js"></script>

</body>

</html>